"appspider":
  "parameters":
    "APPSPIDER_ADMIN_PASSWORD":
      "data_type": "password"
      "description": "AppSpider Admin API Password"
      "type": "config"
      "value": "{replace-me}"
    "APPSPIDER_ADMIN_USERNAME":
      "data_type": "username"
      "description": "AppSpider Admin API Username"
      "type": "config"
      "value": "{replace-me}"
    "APPSPIDER_PASSWORD":
      "data_type": "password"
      "description": "AppSpider API Password"
      "type": "config"
      "value": "{replace-me}"
    "APPSPIDER_URL":
      "data_type": "url"
      "description": "AppSpider Enterprise URL."
      "type": "config"
      "value": "{replace-me}"
    "APPSPIDER_USERNAME":
      "data_type": "username"
      "description": "AppSpider API Username"
      "type": "config"
      "value": "{replace-me}"
"checkmarx":
  "parameters":
    "CHECKMARX_PASSWORD":
      "data_type": "password"
      "description": "Checkmarx password."
      "type": "config"
      "value": "{replace-me}"
    "CHECKMARX_URL":
      "data_type": "url"
      "description": "Checkmarx web URL."
      "type": "config"
      "value": "{replace-me}"
    "CHECKMARX_USERNAME":
      "data_type": "username"
      "description": "Checkmarx username."
      "type": "config"
      "value": "{replace-me}"
"defectdojo":
  "parameters":
    "DOJO_API_KEY":
      "data_type": "key"
      "description": "Dojo API key."
      "type": "config"
      "value": "{replace-me}"
    "DOJO_HOST":
      "data_type": "string"
      "description": "DefectDojo host."
      "type": "config"
      "value": "{replace-me}"
    "DOJO_PROXY":
      "data_type": "url"
      "description": "Optional proxy for connecting to DefectDojo."
      "type": "config"
      "value": "{replace-me}"
"prepenv":
  "parameters":
    "DOJO_API_KEY":
      "data_type": "key"
      "description": "Dojo API key."
      "type": "config"
      "value": "{replace-me}"
    "DOJO_HOST":
      "data_type": "string"
      "description": "DefectDojo host."
      "type": "config"
      "value": "{replace-me}"
    "DOJO_PROXY":
      "data_type": "url"
      "description": "Optional proxy for connecting to DefectDojo."
      "type": "config"
      "value": "{replace-me}"
"snyk":
  "parameters":
    "SNYK_API_TOKEN":
      "data_type": "api"
      "description": "Synk API token"
      "type": "config"
      "value": "{replace-me}"
"tenableio":
  "parameters":
    "TENABLE_ACCESS_KEY":
      "data_type": "key"
      "description": "Access key, generated in the TenableIO GUI."
      "type": "config"
      "value": "{replace-me}"
    "TENABLE_SECRET_KEY":
      "data_type": "key"
      "description": "Secret key, generated in the TenableIO GUI."
      "type": "config"
      "value": "{replace-me}"
